[user]
	name = crow-418
	email = 73722884+crow-418@users.noreply.github.com
	signingkey = ~/.ssh/id_ed25519.pub
[init]
	defaultBranch = main
[pull]
	rebase = false
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[gpg]
	format = ssh
[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
[commit]
	gpgsign = true
[tag]
	gpgsign = true
[format]
	signoff = true
